<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <servlet>
    <servlet-name>pera</servlet-name>
    <servlet-class>servlets.DBServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>mika</servlet-name>
    <servlet-class>servlets.ProsekServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ocene</servlet-name>
    <servlet-class>servlets.OceneServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ispit</servlet-name>
    <servlet-class>servlets.IspitServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>StartServler</servlet-name>
    <servlet-class>servlets.StartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>pera</servlet-name>
    <url-pattern>/dbservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>mika</servlet-name>
    <url-pattern>/prosek</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ocene</servlet-name>
    <url-pattern>/ocene</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ispit</servlet-name>
    <url-pattern>/ispit</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StartServler</servlet-name>
    <url-pattern>/StartServlet</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>
      30
    </session-timeout>
  </session-config>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
